{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="container">
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
      <input type="submit" value="Login" class="btn btn-default">
  </form>
</div>
{% endblock %}
