<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Website</title>
    <!-- Bootstrap CDN links  -->
    <!-- CSS & JS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- jQuery & Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container" dir="ltr">
  <a href="{% url 'homepage' %}" class="navbar-brand">My Website</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a href="{% url 'homepage' %}" class="nav-link">Home</a>
      </li>

      <li class="nav-item active">
        <a href="#" class="nav-link">Podcast</a>
      </li>
      <li class="nav-item active">
        <a href="#" class="nav-link">Channels</a>
      </li>
      <li class="nav-item active">
        <a href="#" class="nav-link">Create channel</a>
      </li>
      <li class="nav-item active">
        <a href="" class="nav-link">MyProfile</a>
      </li>
      <li class="nav-item active">
        <a href="" class="nav-link">Welcome: {{request.user.username}}</a>
      </li>
      <li><a href="{% url 'user:logout'%}" class="btn btn-simple">Log out</a></li>
      {% else %}

      <li class="nav-item active">
        <a href="" class="nav-link">Home</a>
      </li>
      <li class="nav-item active">
        <a href="#" class="nav-link">Channels</a>
      </li>
      <li><a href="{% url 'user:login' %}" class="btn btn-simple">Log in</a></li>
      <li><a href="{% url 'user:signup' %}" class="btn btn-simple">Sign up</a></li>
      {% endif %}

    </ul>
  </div>
</div>
</nav>
<div class="container mycontent">
          {% block content %}

          {% endblock %}

        </div>
  </body>

</html>
