{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Successfully Logout</h1>
    <h2>Come back soon. We miss you!</h2>
    <a class="btn btn-primary" href="{% url 'homepage' %}">Goto HomePage</a>

  </div>

</div>

{% endblock %}
