{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to My Website</h1>
    <h2>Signup for create channel and upload podcasts!</h2>
    <h3>You can join to a channel and listen to the podcasts.</h3>


  </div>

</div>

{% endblock %}
